---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  color: $darkGray;
  @include bodyText;
  font-size: 15px;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 35px;
  box-sizing: border-box;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  @include calloutText;
  color: $darkGray;
  line-height: 1.3;
  margin: 25px 0 8px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  @include titleText;
  color: $darkGray;
  margin: 25px 0 25px;
  font-size: 30px;

  a[href] {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  @include titleText;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

h3 {
  font-size: 24px;
  @include subTitleText;
  font-style: italic;
  letter-spacing: 0.03em;
  color: $gray;
  line-height: 1.5;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 20px 0;
}

a {
  color: inherit;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;

  &[href], &:visited {
    opacity: 1;
  	cursor: pointer;
    // text-decoration: underline;
    color: $blue;

    &:hover, &:active {
      color: $ublu;
      text-decoration: none;
    }
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $robin;
}

.tags {
  font-size: 14px;
  letter-spacing: 0.03em;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  @include titleText;
  font-size: 28px;

  a[href] {
    text-decoration: none;
  }
}

.site-description {
  margin: 0;
  color: $gray;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  @include calloutText;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $blue;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
}

.reentry-posts > .post {
  border-bottom: 1px solid $lightGray;
}

.blog-posts > .post {
  h1 {
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 0;
    color: $coolGray;
  }

  sub {
    @include calloutText;
    bottom: 0;
    font-size: 14px;
    color: $robin;
  }

  .date {
    font-style: normal;
  }

  .tags {
    text-transform: capitalize;
    line-height: 1;
    padding: 0px 7px;
  }
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 25px 0 25px 20px;
    border-left: 2px solid $lightGray;
    padding: 0px 20px;
    @include calloutText;
    color: $gray;
    font-size: 15px;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: $robin;
  }

  .tag-name-link {
    + .tag-name-link {
      &::before {
        content: ',';
      }

      code {
        padding-left: 7px;
      }
    }
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// imports page-specific styles
@import "sketchbook";
@import "reentry";

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
