
//
// VARIABLES
//

// Colors
$blue: #688eec;
$jerry: #d2f3e4;
$mauve: #ec86a5;
$cherry: #f13b3b;
$esther: #f3e1e4;
$mint: #5ccaad;
$forest: #318277;
$lightBlue: #f5f8ff;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #454952;
$coolGray: #656f88;
$gray: #6e7075;
$robin: #98a4c1;
$lightGray: #dfe4f1;
// $white: #feffff;
$white: #ffffff;

// Font imports

@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/Roboto_Mono/RobotoMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/Roboto_Mono/RobotoMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/Roboto_Mono/RobotoMono-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

// Font stacks

$rm: 'Roboto Mono', courier, monospace;
$r: 'Roboto', Helvetica Neue, Arial, sans-serif;

// Typography

@mixin bodyText {
  font-family: $r;
  font-weight: 400;
}

@mixin calloutText {
  font-family: $rm;
  font-weight: 400;
}

@mixin titleText {
  font-family: $r;
  font-weight: 400;
}

@mixin subTitleText {
  font-family: $r;
  font-weight: 900;
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
