
//
// VARIABLES
//

// Colors
$blue: #688eec;
$jerry: #d2f3e4;
$mauve: #ec86a5;
$esther: #f3e1e4;
$mint: #5ccaad;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #454952;
$gray: #5c5e63;
$robin: #98a4c1;
$lightGray: #dfe4f1;
$white: #feffff;

// Font imports

@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind/Hind-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind/Hind-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Hind';
  src: url('fonts/Hind/Hind-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// Font stacks

$hind: 'Hind', Helvetica, Arial, sans-serif;
$inconsolata: 'Inconsolata', Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Typography

@mixin bodyText {
  font-family: $hind;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

@mixin calloutText {
  font-family: $inconsolata;
  font-weight: 400;
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
